@charset "utf-8";

/*header*/
header#main_header{}

/*main_util*/
header#main_header>div#main_util{
	border-bottom:1px solid #dddddd;
	margin-bottom:20px;
}

header#main_header>div#main_util>nav#util_menu{
	/*float:right;*/
	width: 980px;height: 30px;
	margin:0 auto;
}
header#main_header>div#main_util>nav#util_menu>ul.util_wrap{
	float:right;
}
header#main_header>div#main_util>nav#util_menu>ul.util_wrap>li{
	float:left;
	text-align:center;
	position: relative;
}
header#main_header>div#main_util>nav#util_menu>ul.util_wrap>li:after{
	content:"";width: 1px;height: 10px;background-color: #a3a3a3;display: block;position: absolute;top:9px;
}
header#main_header>div#main_util>nav#util_menu>ul.util_wrap>li:first-child:after{
	content:"";display:none;
}
header#main_header>div#main_util>nav#util_menu>ul.util_wrap>li>a{
	display:block;
	color:#a3a3a3;
	padding:0 10px;
	line-height:30px;	
	font-size:0.8em;
}

/*LOGO*/
header#main_header>h1{text-align:center; margin-bottom:20px;}

/*main_menu*/
header#main_header>nav#main_menu{height: 45px;background-color:#1d5da4;}
header#main_header>nav#main_menu>ul.menu_wrap{width: 980px;margin:0 auto;}
header#main_header>nav#main_menu>ul.menu_wrap>li{
	width: 163.33px;
	float:left;
	line-height:45px;
	text-align:center;
	border-right:2px solid #2867ad;
}
header#main_header>nav#main_menu>ul.menu_wrap>li:first-child{border-left:2px solid #2867ad;}
header#main_header>nav#main_menu>ul.menu_wrap>li>a{display:block;color:#ffffff;font-weight:bold;}
header#main_header>nav#main_menu>ul.menu_wrap>li>a:hover{}

/*visual*/
div#visual_wrap{
	height: 400px;
	background:#203969 url(../images/visual_bg.jpg) no-repeat center;
}
	.visual{
		width: 980px;height: 400px;
		margin:0 auto;
		position: relative;
	}
	.visual .img01{position: absolute;right:0;bottom: 0;}
	#visual_wrap .img02{position: absolute;left:0;top: 80px;}

/*visual icon*/
	div#visual_icon{background-color: #eee; margin-bottom:50px;}
	div#visual_icon .icon_wrap{width: 980px;margin:0 auto;}
	div.icon_wrap li{float:left;width: 20%;height: 196px;}
	div.icon_wrap li:nth-child(1){height: 196px;background-color: #7c99b9;}
	div.icon_wrap li:nth-child(2){height: 196px;background-color: #4f74a1;}
	div.icon_wrap li:nth-child(3){height: 196px;background-color: #4b8ce0;}
	div.icon_wrap li:nth-child(4){height: 196px;background-color: #3db5f2;}
	div.icon_wrap li:nth-child(5){height: 196px;background-color: #95c8ff;}
	
	div.icon_wrap li:hover{background-color: skyblue;cursor:pointer;}

	div#visual_icon .card{padding:15px;}
	div#visual_icon .card>img{margin:0 auto;}
	div#visual_icon .card-body{text-align:center;padding-top:13px;color:white;}

/*section01*/
	div#section01_wrap{width: 980px;margin:0 auto;margin-bottom:25px;}
	div#section01_wrap>ul>li{float:left;margin-right:25px;}
	div#section01_wrap>ul>li:last-child{margin-right:0;}
	div#section01_wrap>ul>li>div.card>div.card-body{border:1px solid #dddddd;border-top:none;padding:20px 15px;}
	div#section01_wrap>ul>li>div.card>div.card-body>p.card-text{color:#9a9a9a;font-size:0.8em;}

/*section02*/
	div#section02_wrap{width: 980px;margin:0 auto;margin-bottom:50px;}
	div#section02_wrap>ul>li{width: 310px;height: 165px;float:left;margin-right:25px;border:1px solid #dddddd;}
	div#section02_wrap>ul>li:last-child{margin-right:0;}
	div#section02_wrap>ul>li>div.card{position:relative;overflow:hidden;}
	div#section02_wrap>ul>li>div.card>img{position: absolute;right:-10px;top: 10px;}
	div#section02_wrap>ul>li>div.card>div.card-body{padding:20px 0 0 15px;position: relative;}
	div#section02_wrap>ul>li>div.card>div.card-body>h3.card-title{margin-bottom:20px;}
	div#section02_wrap>ul>li>div.card>div.card-body>p.card-text{margin-bottom:20px;color:#9a9a9a;font-size:0.8em;}
	div#section02_wrap>ul>li>div.card>div.card-body>p.card-link{color:#4c8ddd;font-size:0.8em;}

/*footer*/
	footer#main_footer{height: 147px;background-color:#5e5e5e;}

	footer#main_footer>div.footer01_wrap{height: 43px;background-color:#4d4d4d;}
	footer#main_footer>div.footer01_wrap>div.footer01{width: 980px;margin:0 auto;}
	footer#main_footer>div.footer01_wrap>div.footer01>ul>li{float:left;position: relative;}
	footer#main_footer>div.footer01_wrap>div.footer01>ul>li:after{
		content:"";width: 1px;height: 15px;background-color:#717171;display:block;position: absolute;top:15px;
	}
	footer#main_footer>div.footer01_wrap>div.footer01>ul>li:first-child:after{content:"";display:none;}
	footer#main_footer>div.footer01_wrap>div.footer01>ul>li>a{
		padding:0 30px;
		display:block;
		font-size:0.8em;
		line-height: 43px;
		color:#cdcdcd;
		font-weight:bold;
	}
	footer#main_footer>div.footer01_wrap>div.footer01>ul>li:first-child>a{padding-left: 0;}

	footer#main_footer>div.footer02{width: 980px;height: 105px;margin:0 auto;}
	footer#main_footer>div.footer02>h3.footer_logo,address{float:left;}
	footer#main_footer>div.footer02>h3.footer_logo{display:block;color:white;line-height:105px;}
	address{font-style:normal;}
	footer#main_footer>div.footer02>address>p.footer_text{display:block;color:#cdcdcd;font-size:0.8em;padding:15px 0 15px 65px;}