
/*mobile typography*/
p {line-height:1.5;}


/*Header*/
#main_header{
	height: 2090px;position: relative;
}
#sub_header{
	position: relative;
}
#header_top{
	width:100%;height:70px;
	position: relative;background-color: #3f3f3f;
}
#header_top>a{display:block;width: 185px;padding:20px;}
#header_top>a>img{width: 185px;}
#header_top>.back{
	position:fixed;width: 100%;height:100%;background-color:rgba(0,0,0,0.6);
	z-index:99998;top: 0;display:none;
}
#header_top>#main_menu{
	position:fixed;width: 80%;height:100%;top: 0;
	background-color:rgba(75,117,227,1);z-index:99999;
	right:-100%;overflow-y:auto;
}
#main_menu ul{
	position: absolute;left:50%;top:50%;
	transform:translate(-50%,-50%);
}
#main_menu ul li{padding:10px 0;}
#main_menu ul li a{
	display:block;color:white;text-align:center;
	font-weight:bold;font-size:2em;line-height:2em;
}

#main_menu ul li:hover a{color:yellow;}

.on>a{color:yellow! important;}


#header_top > .toggleMenu{
	width:50px;height:50px;position: absolute;top: 13px;right: 20px;
	cursor:pointer;z-index:1;display: block;
}

.toggleMenu div{
			width:35px;height: 5px;background-color: #fff;
			position: absolute;border-radius:3px;left:7px;
			transition:0.3s;
		}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

.toggleMenu.change{position:fixed !important;z-index:999999 !important;}
.toggleMenu.change .bar1{transform:rotate(-45deg);top:21px;background-color:#fff;}
.toggleMenu.change .bar2{opacity:0;}
.toggleMenu.change .bar3{transform:rotate(45deg);top:21px;background-color:#fff;}


.language{display:none;}


/*bxslider*/

.bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow:none;
     border:none;
    background: #fff;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager {text-align:center;bottom: 40px;}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: none;
    border:1px solid #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    border:1px solid #fff;
    background-color: #fff;
    text-indent: -9999px;
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 7px;
    outline: 0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}


.slider_wrap{}
.slider_wrap ul li{height:500px;}
.slider_wrap li.first{
	background:url(../images/mainimg03.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/mainimg04.jpg) no-repeat center;
	background-size:cover;
}

.slider_wrap .slider_txt{
	width: 700px;position: absolute;left:50%;margin-left:-350px;
	/*background-color: rgba(255,255,255,0.5);*/top:30%;color:white;text-align:center;
	padding:20px 20px 30px 20px; /*box-shadow:0 0 10px #000;*/
}

.slider_wrap h3{font-size:3.5em;text-shadow:3px 3px 5px #000;}
.slider_wrap h3:after{
	content:"";display:block;width:100px;height:3px;background-color: #fff;
	margin:20px auto;
}

.bx_btn>.btn_prev{position: absolute;top: 280px;left: 20px;z-index:2;display:none;}
.bx_btn>.btn_next{position: absolute;top: 280px;right: 20px;z-index:2;display:none;}


/*mobile contents*/
#mobile_contents{width:100%;height: 200px;background-color: #4b75e3;}
#mobile_contents>ul{padding:15px 0;}
#mobile_contents>ul>li{float:left;width: 25%}
#mobile_contents>ul>li>a{}
#mobile_contents>ul>li>a>img{width: 120px;margin:0 auto;}
#mobile_contents>ul>li>a>p{text-align:center;color:white;font-size:0.9em;font-weight: bold}



/*header content*/
#main_header .contents{
	width:100%;margin:bottom:20px;
}
#main_header .contents li{
	float:left;width:25%;height:315px;
}


/*content*/
.box2{position: relative;overflow:hidden;background-color: #000;}
.box2 .img{position: absolute;transform:scale(1);transition:0.3s;}
.box2 .video_btn{position: absolute;z-index:2;}
.box2:hover .img{transform:scale(1.2);opacity:0.6;}



.contents li.box1,
.contents li.box2,
.contents li.box4,
.contents li.box5,
.contents li.box7,
.contents li.box9,
.contents li.box10{display:none;}

.type1{background-color: #4b75e3;padding:50px;}
.type2{background-color: #413d3e;padding:50px;}
.type1>a>img,
.type2>a>img{margin:0 auto;}
.type1>a>p,
.type2>a>p{text-align:center;color:white;}

.box3{
	width: 100% !important;background-color:#fff;
	position:relative;
}
.box3 h3{
	position: absolute;
	left:20px;top:20px;
	z-index:2;font-size:1.5em;
}
.box3 .slider2{position:absolute;top:0;left:0;}
.box3 .slider2 div{float:left;width: 50%;}
.box3 .slider2 div.left{padding-left:20px; padding-top:70px;}
.box3 .slider2 div.left:after{
	content:"";border-width:20px;border-style:solid;
	border-color:transparent transparent transparent #fff;
	position:absolute;left:50%;top:50%;transform:translateY(-50%);
}
.box3 .slider2 div.right img{
	width: 50%;position: absolute;top: 50%;transform:translateY(-50%);
}


.box3 .box3_btn{
	width: 80px;height: 40px;
	background:url(../images/box3_btn.jpg);
	text-indent:-9999px;
	cursor:pointer;
	position: absolute;bottom: 20px;left:20px;
	
}
.box3 .box3_btn>div{float:left;}
.box3 .prev{
	width: 40px;height: 40px;border:1px solid #d7d7d7;border-right:0 none;
}
.box3 .next{
	width: 40px;height: 40px;border:1px solid #d7d7d7;
}


.box6{
	width: 100% !important;
	background:#000 url(../images/3.jpg) no-repeat center;
	background-size: 100%;
	color:white; padding:45px;
}


.type3>p:after{
	content:"";display:block;width:50px;height:3px;background-color: #fff;
	margin:20px 0;
}
.type3>h3{font-size:2em;}

.box8{
	width: 100% !important;
	background:#d7dbdc url(../images/5.jpg) no-repeat center;
	background-size: 100%;
	color:#000; padding:45px;
}
.box8.type3>p:after,
.box11.type3>p:after{
	background-color: #000;
}

.box11{
	width: 100% !important;
	background:#000 url(../images/6.jpg) no-repeat center;
	background-size: 100%;	
	color:#000; padding:45px;
}


/*section2*/
.section2{
	height:730px;
	background:url(../images/contentsbg01.jpg) no-repeat center fixed;
	background-size:cover;
	margin-bottom:80px;
	display:none;
}

.section2>.contents{
	width: 1260px;
	margin:0 auto; padding:80px 0;
}
.section2>.contents>p{text-align:center;color:white;margin-bottom:20px;}
.section2>.contents>p:after{content:"";display:block;width:50px;height:3px;background-color: #fff;margin:30px auto;}
.section2>.contents>h4{text-align:center;color:white;margin-bottom:70px;font-size:2em;}
.section2>.contents>ul>li{float:left;margin-right:20px;}
.section2>.contents>ul>li:last-child{margin-right:0;}

.section2>.contents .card{width: 300px;height:380px;position: relative;transition:.3s;}
.section2>.contents .card:hover{transform:translate(-10px,-10px);box-shadow:8px 8px 10px black;}
.section2>.contents .card>img{position:absolute; left:50%; top:30px; transform:translateX(-50%);}
.section2>.contents .card_body{width:300px;height:180px;position:absolute;
		bottom:0;text-align:center;color:#fff;
		padding: 0 20px;}
.section2>.contents .card_body>h3{margin-bottom:10px;}



#section_wrap{
	width: 100%;
	margin:0 auto;
	margin-bottom:50px;
}
/*section3*/
.section3{margin-bottom:80px;display:none;}
.section3>ul>li{
	float:left;
	width: 315px;height: 315px;
}
.section3 .box1{
	position: relative;
	height:630px;background:url(../images/section3_box1.jpg);
}
.section3 .btn_wrap
{background:url(../images/section3_btn.png);
	width: 80px;height: 40px;
	text-indent:-9999px;
	border: 1px solid #d7d7d7;
	position: absolute;bottom: 30px;right: 30px;
}
.section3 .btn_wrap>div{
	float:left;cursor:pointer;
}
.section3 .btn_wrap>.prev{
	width: 50%;height: 100%;
	border-right: 1px solid #d7d7d7;
}

.section3 .btn_wrap>.next{
	width: 50%;height: 100%;
}
.section3 .btn_wrap>.prev:hover{background-color: #fff;opacity:0.5;}
.section3 .btn_wrap>.next:hover{background-color: #fff;opacity:0.5;}


.section3 .textBox{background-color: #e7e7e7;position: relative;}
.section3 .textBox>p{padding: 40px;}

.section3 .textBox .like{padding-left:40px;padding-top:60px;}
.section3 .textBox .like>.heart{color:#c11b00;font-size:1.3em;}


.section3 .textBox.top:after{content:"";border-width:20px;border-style:solid;
	border-color: transparent transparent #e7e7e7 transparent;
	position:absolute;top:-40px;left:50%;transform:translateX(-50%);
}
.section3 .textBox.bottom:after{content:"";border-width:20px;border-style:solid;
	border-color: #e7e7e7 transparent transparent transparent;
	position:absolute;bottom:-40px;left:50%;transform:translateX(-50%);
}

/*video*/
iframe{margin-bottom:50px;width: 100%;height: 400px;}


/*section4*/
.section4{width: 100%;}
.section4>ul>li{
	float:left;padding:50px;
	width: 100%;height: 315px;
}
.section4 .box01{background-color: #89aaff;}
.section4 h3{font-size:2em;color:white;}
.section4 p{margin-bottom:43px;color:white;}
.section4 h3:after{content:"";display:block;width:50px;height:3px;background-color: #fff;
	margin:20px 0;}
.section4 .box02{
	width: 100% !important;
	background:#3f3f3f url(../images/section4_img2.jpg) no-repeat center;
	background-size: 100%;	
	color:#000; padding:45px;
}

.section4 .detail_btn{
	width: 170px;border: 1px solid #fff;
}
.section4 .detail_btn>a{
	display:block;text-align:center;line-height:50px;color:white;
}
.section4 .detail_btn>a:hover{background:rgba(255,255,255,0.5);}



/*sub 공통*/
#sub_header .visual .visual_txt{
	color:white;text-align:center;
	position: absolute;top:180px;left:50%;transform:translateX(-50%);
}
#sub_header .visual .visual_txt>h3{font-size:2.7em;margin-bottom:15px;}
#sub_header .depth2{
	position: absolute;top: 390px;left:50%;transform: translateX(-50%);
	width: 100%;background-color: #eaeaea;
}
#sub_header .depth2:after{content:"";clear:both;display:block;width: 100%;height: 3px;background-color: #4b75e3;}
#sub_header .depth2>ul>li:last-child{border-right:0 none !important;}
#sub_header .depth2 .on{background-color: #4b75e3;color:white;}


	/*sub01*/
	#sub_header .visual.sub01{
		background: url(../images/visual01.jpg) no-repeat center;
		height: 390px;
		background-size:cover;
	}
	#sub_header .depth2.sub01>ul>li{
		float:left;width: 25%;border-right:1px solid #a3a3a3;font-size:1.2em;
		text-align:center;line-height:67px;
	}

	/*sub02*/
	#sub_header .visual.sub02{
		background: url(../images/visual02.jpg);
		height: 458px;
	}
	#sub_header .depth2.sub02>ul>li{
		float:left;width: 25%;
		border-right:1px solid #a3a3a3;font-size:1.2em;
		text-align:center;line-height:67px;
	}
	#sub_header .depth2.sub02>ul>li:nth-child(1),
	#sub_header .depth2.sub02>ul>li:nth-child(2),
	#sub_header .depth2.sub02>ul>li:nth-child(3),
	#sub_header .depth2.sub02>ul>li:nth-child(4){border-bottom:1px solid #a3a3a3;}

	/*sub03*/
	#sub_header .visual.sub03{
		background: url(../images/visual03.jpg);
		height: 390px;
	}
	#sub_header .depth2.sub03>ul>li{
		float:left;width: 25%;border-right:1px solid #a3a3a3;font-size:1.2em;
		text-align:center;line-height:67px;
	}

	/*sub04*/
	#sub_header .visual.sub04{
		background: url(../images/visual04.jpg);
		height: 390px;
	}
	#sub_header .depth2.sub04>ul>li{
		float:left;width: 20%;border-right:1px solid #a3a3a3;font-size:1.2em;
		text-align:center;line-height:67px;
	}

	/*sub05*/
	#sub_header .visual.sub05{
		background: url(../images/visual05.jpg);
		height: 390px;
	}
	#sub_header .depth2.sub05>ul>li{
		float:left;width: 25%;border-right:1px solid #a3a3a3;font-size:1.2em;
		text-align:center;line-height:67px;
	}

	/*sub06*/
	#sub_header .visual.sub06{
		background: url(../images/visual06.jpg);
		height: 390px;
	}
	#sub_header .depth2.sub06>ul>li{
		float:left;width: 50%;border-right:1px solid #a3a3a3;font-size:1.2em;
		text-align:center;line-height:67px;
	}

	


	/*sub contents*/
	.contents_wrap{
		width: 100%;
	}

	.sub_container{width: 100%;margin:0 auto;padding:0 20px;margin-bottom:50px;}
	.sub_container img{width:100%;}

	#sub_contents .location>ul{margin-left:20px;}
	#sub_contents .location>ul>li{float:left;padding:30px 5px;}
	#sub_contents .location>ul>li:nth-child(3)>a{
		color:#7d7d7d;}
	#sub_contents .location>ul>li:nth-child(5)>a{
		color:#4b75e3;}
	
	#sub_contents .section01{margin-bottom:80px;}
	#sub_contents .section01>.title>h3{
		color:#4b75e3;font-size:2em;text-align:center;margin-bottom:70px;
	}
	#sub_contents .section01>.title>h3:before{
		content:"";clear:both;display:block;
		width: 50px;height: 3px;background-color: #4b75e3;
		margin:0 auto;margin-bottom:30px;
	}

	#sub_contents>div{display:none;}
	#sub_contents>div:nth-child(1){display:block;}

	
	/*sub06 고객CRM*/
	a.crm{
		display:block;width: 300px;line-height:50px;
		margin:0 auto;text-align:center;border: 1px solid #4b75e3;color:#4b75e3;
	}
	a.crm:hover{background-color: #4b75e3;color:white;}


	/*table*/
	.table{}
	.table li{
		float:left;width: 47.5%;background-color: #3f434e;
		margin-bottom:5%;border:1px solid #e7e7e7;
	}
	.table li:nth-child(2n-1){margin-right:5%;}
	.table li .table_title{
		width: 100%;height:100px;background-color: #f2f5fa;
		border-top:3px solid #3f434e;padding:20px;transition:0.3s;
		font-weight:800;font-size:1.2em;line-height: 1.5;
	}
	.table li .table_text{
		width: 100%;line-height:50px;background-color: #fff;
		padding:20px;transition:0.3s;
	}

	.table li a:hover .table_title,
	.table li a:hover .table_text
	{opacity:0.9;}

	.pagination{width: 100%;}
	.pagination .page_wrap{width: 200px;margin:0 auto;}
	.pagination .page_wrap a{
		float: left;width: 40px;height: 40px;
		line-height: 40px;border: 1px solid #aaa;
		text-align: center;margin:0 5px;border-radius:20px;}
	.pagination a:hover{background-color: #eee;}
	.pagination a.active{background-color: #eee;}




/*FOOTER*/
footer{border-top:1px solid #000;background-color: #fff;}
#footer_wrap{
	width: 100%;padding:20px 20px;
}
#footer_wrap>a{display:block;margin-bottom:15px;width: 95px;}
#footer_wrap>a>img{width: 95px;}
#footer_wrap>ul{margin-bottom:13px;}
#footer_wrap>ul>li{
	float:left;position: relative;padding:5px 16px;
}
#footer_wrap>ul>li:first-child{padding-left:0}
#footer_wrap>ul>li:after{
	content:"";display:block;width: 1px;height: 15px;background-color: #3f3f3f;
	position: absolute;top:7px;left:0;
}
#footer_wrap>ul>li:first-child:after{content:"";display:none;}
#footer_wrap>ul>li>a{display:block;color:#3f3f3f;}
#footer_wrap>p{font-size:0.9em;color:#969696;margin-bottom:20px;}

.site_btn{}
.site_btn select{width: 195px;height: 45px;text-indent: 5px;}