@charset "utf-8";

/*HEADER*/
.header{background:url(../img/main01.jpg) no-repeat;}
.header_wrapper{width: 1260px;height:852px;margin:0 auto;background-color: pink;position: relative;}
.header_wrap{height: 90px;}
.logo{position: absolute;top:40px;}
.logo>img{width: 300px;}
.header_wrap>.gnb_menu{position:absolute;right:130px;top: 40px;}
.header_wrap>.gnb_menu>ul{}
.header_wrap>.gnb_menu>ul>li{float:left;padding:0 30px;}
.header_wrap>.gnb_menu>ul>li>a{
	display:block;color:white;line-height: 50px;
}
.header_wrap>.language{position:absolute;right:0;top: 40px;}
.header_wrap>.language>ul{border:2px solid #b8307c;}
.header_wrap>.language>ul>li{float:left;}
.header_wrap>.language>ul>li>a{
	display:block;width: 50px;height: 50px;
	line-height:50px;text-align:center;color:white;
}
.language .on{background-color:#b8307c;}

.slider_wrap{position: absolute;top:300px;}
.main_title>h1{text-align:center;color:white;font-size:4em;}
.main_title>p{text-align:center;color:white;padding:50px 0;}

.bx-wrapper {
    -moz-box-shadow: 0 none;
     -webkit-box-shadow: 0 none; 
     box-shadow: 0 none; 
     border: 0 none; 
     background: none;
}