@charset "utf-8";

#wrap{}
/*navTop*/
#navTop{
	position: fixed;height: 70px;width: 100%;z-index:5;
	border-bottom:1px solid #777;transition:0.6s;
}
#navTop.color{
	background-color: rgba(255,41,131,1);
}

#navTop h1{
	position: absolute;left: 95px;top: 19px;
}
#navTop ul.topMenu{
	position: absolute;right:95px;top:24px;
}
#navTop li{float:left;margin-left:20px;}
#navTop li a{display:block;}


/*fullpage*/
#fullpage{width: 100%;height:100%}

/*page01*/
#page01{background-color: #fde425;overflow:hidden;z-index:5;}
#page01 .contents{width: 100%;height: 100%;position: relative;}
#page01 .contents img{position: absolute;}

#page01 .contents img.txt{left:17%;top: 490px;}


/*page01 레몬 정위치*/
#page01 .contents .lemon{}
#page01 .contents .lemon01 img{
	left: 0;top: 364px;
}
#page01 .contents .lemon02 img{
	left:10%;top: 150px;
}
#page01 .contents .lemon03 img{
	left:18%;top: 680px;
}
#page01 .contents .lemon04 img{
	left:25%;top: -25px;
}
#page01 .contents .lemon05 img{
	right:18%;top: 190px;
}
#page01 .contents .lemon06 img{
	right:14%;top: 554px;
}
#page01 .contents .lemon07 img{
	right:0;top: 680px;
}
#page01 .contents .lemon08 img{
	right:0;top: 60px;
}

/*page01 레몬움직임*/
#page01 .contents .lemon01 img.first,
#page01 .contents .lemon02 img.first,
#page01 .contents .lemon03 img.first,
#page01 .contents .lemon05 img.first,
#page01 .contents .lemon06 img.first,
#page01 .contents .lemon07 img.first{
	transform:translateY(-25px);opacity:0;transition:0.7s;
}
#page01 .contents .lemon01 img.first.start,
#page01 .contents .lemon02 img.first.start,
#page01 .contents .lemon03 img.first.start,
#page01 .contents .lemon05 img.first.start,
#page01 .contents .lemon06 img.first.start,
#page01 .contents .lemon07 img.first.start{
	transform:translateY(0);opacity:1;
}



/*page01 아이스크림 콘 움직임*/
#page01 .contents img.icecream{
	top: 363px;left:50%;transform:translateX(-50%);transition:0.7s;
}
#page01 .contents img.icecream.move{
	top: 1450px;
}


#page01 .contents img.title{top: 100px;left:50%;transform:translateX(-50%);}
#page01 .contents img.icon01{
	top: 564px;left: 57%;animation:icon .8s infinite alternate;
}
@keyframes icon{
			from{transform:translate(-5px,-10px);}
			to{transform:translate(0,0);}
		}



/*page02*/
#page02{background-color: #9ccd3e;}
#page02 .contents{width: 100%;height: 100%;position: relative;}
#page02 .contents img{position: absolute;}

#page02 .contents img.sub_title{top: 110px;left:50%;transform:translateX(-50%);}
#page02 .contents img.title{top: 160px;left:50%;transform:translateX(-50%);}
#page02 .contents img.txt{left:17%;top: 400px;}


/*page02 레몬움직임*/
#page02 .contents img.lemon01{
	top: 110px;left:94px;animation:lemon_move 1.3s infinite alternate;
}
#page02 .contents img.lemon02{
	top: 620px;left:220px;animation:lemon_move 0.9s infinite alternate;
}
#page02 .contents img.lemon03{
	top: 450px;right:410px;animation:lemon_move 1.2s infinite alternate;
}
#page02 .contents img.lemon04{
	top: 140px;right:94px;animation:lemon_move 1.1s infinite alternate;
}
#page02 .contents img.lemon05{
	bottom: -180px;right:100px;z-index:12;animation:lemon_move 1s infinite alternate;
}

@keyframes lemon_move{
			from{transform:translate(0,-25px);}
			to{transform:translate(0,0);}
		}



/*page02 아이스크림 콘 움직임*/
#page02 .contents img.icecream{
	top: -575px;left:50%;transform:translateX(-50%);
	transition:0.7s;
}
#page02 .contents img.icecream.move{
	top: 510px;
}


/*page02 스쿱아이스크림*/
#page02 .contents img.icecream2{
	top: 0px;left:50%;transform:translateX(-50%);opacity:0;
	transition:0.5s;transition-delay:0.7s;
}
#page02 .contents img.icecream2.drop{
	top: 320px;opacity:1;
}



/*page03*/
#page03{background-color: #1a1512;position: relative;overflow:hidden;}
#page03 .contents img{position: absolute;}
#page03 .contents img.sub_title{top: 140px;left:50%;transform:translateX(-50%);}
#page03 .contents img.title{top: 195px;left:50%;transform:translateX(-50%);}

/*slider*/
#page03 .slider{width: 1270px;height:600px;}
#page03 .slider li{_background-color: pink;}
#page03 .slider li.cont{position: relative;}
#page03 .slider li.cont .c_img01{
	position: absolute;top: 45px;left: 15px;}
#page03 .slider li.cont .c_img02{
	position: absolute;top: 25px;left: 90px;
}
#page03 .slider li.cont .c_img03{
	position: absolute;top: 15px;left: 80px;}

#page03 .slider li.cont .c_box01,
#page03 .slider li.cont .c_box02,
#page03 .slider li.cont .c_box03{position: absolute;top: 50px;right: 20px;}


/*bx slider*/

.bx-wrapper {
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background: none;

    position: relative; top:160px;left:50%;transform:translateX(-50%);
    width: 1270px;
    margin-bottom: 60px;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 45px;
    left:50px;
    width: 100%;
}


.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fde425;width: 50px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fde425;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition:0.2s;
}


/*page04*/
#page04{}
#page04 .contents{width: 100%;height: 100%;position: relative;}
#page04 .contents img{position: absolute;}
#page04 .contents img.sub_title{top: 110px;left:50%;transform:translateX(-50%);}
#page04 .contents img.title{top: 165px;left:50%;transform:translateX(-50%);}
#page04 .contents img.text{top: 295px;left:50%;transform:translateX(-50%);}



/*down & top btn*/
.down_btn{}
.down_btn a{position: absolute;bottom: 5%;left:95px;
}
.down_btn a:hover{background-color: #fff;}
.top_btn{position: absolute;bottom: 5%;left:95px;}